@mixin style-button-form{
    padding:10px;
    font-size:18px;
    height:60px;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    background-color: #0b3787;
    padding: 15px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition:1000ms ease;
  }