@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700");
body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  background-color: #F5F7FF;
}

.container-page-login {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border-radius: 3px;
}
.container-page-login .container-login {
  margin-top: 120px;
  margin-bottom: 50px;
  background-color: #fff;
  width: 500px;
  padding: 60px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.container-page-login .container-login .part-logo {
  width: 220px;
  height: 60px;
  margin-bottom: 2rem;
}
.container-page-login .container-login .part-logo img {
  width: 100%;
  height: 100%;
}
.container-page-login .container-login .part-titre p {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1;
}
.container-page-login .container-login .part-form-login {
  display: flex;
  flex-direction: column;
}
.container-page-login .container-login .part-form-login .input-login {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}
.container-page-login .container-login .part-form-login .input-login label {
  margin-bottom: 10px;
}
.container-page-login .container-login .part-form-login .input-login span {
  color: #ec2323;
}
.container-page-login .container-login .part-form-login .input-login input {
  padding: 10px 10px 10px 20px;
  box-sizing: border-box;
  border: 1.5px solid #ced4da;
  height: 60px;
  width: 100%;
}
.container-page-login .container-login .part-form-login .input-login input:focus {
  border-color: #0b3787;
}
.container-page-login .container-login .part-form-login .checkbox {
  display: flex;
  justify-content: space-between;
}
.container-page-login .container-login .part-form-login .checkbox a {
  text-decoration: none;
  color: black;
}
.container-page-login .container-login .part-form-login .checkbox .x1 {
  display: flex;
  align-self: flex-start;
  margin-bottom: 1.5rem;
  width: 75px;
}
.container-page-login .container-login .part-form-login .checkbox .x1 input {
  height: 30px;
  margin: 0;
}
.container-page-login .container-login .part-form-login .checkbox .x1 label {
  width: 50%;
}
.container-page-login .container-login .part-form-login button {
  padding: 10px;
  font-size: 18px;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  color: #fff;
  background-color: #0b3787;
  padding: 15px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: 1000ms ease;
}
.container-page-login .container-login .part-form-login button:hover {
  color: #0b3787;
  background-color: #fff;
  border: 2px solid #0b3787;
}

@media screen and (max-width: 900px) {
  .container-login {
    width: 900px;
  }
}
/* Googlefont Poppins CDN Link */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.nav-native {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 72px;
  background: #0b3787;
  box-shadow: 0px 5px 21px -5px #cdd1e1;
  z-index: 99;
}

.nav-native .navbar {
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background: red; */
  padding: 0 50px;
}

.navbar .logo img {
  width: 165px;
  height: 58px;
  margin: 0;
  padding: 0;
}

.nav-native .navbar .nav-links {
  line-height: 70px;
  height: 100%;
}

.nav-native .navbar .links {
  display: flex;
}

.nav-native .navbar .links li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}

.nav-native .navbar .links li a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
  transform: rotate(180deg);
}

.nav-native .navbar .links li .arrow {
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}

.nav-native .navbar .links li .sub-menu {
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: #0b3787;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}

.nav-native .navbar .links li:hover .htmlCss-sub-menu,
.nav-native .navbar .links li:hover .js-sub-menu {
  display: block;
}

.navbar .links li .sub-menu li {
  padding: 0 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar .links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.navbar .links li .sub-menu .more-arrow {
  line-height: 40px;
}

.navbar .links li .sub-menu .more-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}

.links li .sub-menu .more:hover .more-sub-menu {
  display: block;
}

.navbar .search-box {
  position: relative;
  height: 40px;
  width: 40px;
}

.navbar .search-box i {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar .search-box .input-box {
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: #0b3787;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}

.navbar.showInput .search-box .input-box {
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  background: #0b3787;
}

.search-box .input-box::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background: #0b3787;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}

.search-box .input-box input {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}

.navbar .nav-links .sidebar-logo {
  display: none;
}

.navbar .bx-menu {
  display: none;
}

@media (max-width: 920px) {
  .nav-native .navbar {
    max-width: 100%;
    padding: 0 25px;
  }

  .nav-native .navbar .logo a {
    font-size: 27px;
  }

  .nav-native .navbar .links li {
    padding: 0 10px;
    white-space: nowrap;
  }

  .nav-native .navbar .links li a {
    font-size: 15px;
  }
}
@media (max-width: 800px) {
  .navbar .bx-menu {
    display: block;
  }

  .nav-native .navbar .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background: #0b3787;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }

  .navbar .nav-links .sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sidebar-logo .logo-name {
    font-size: 25px;
    color: #fff;
  }

  .sidebar-logo i,
.navbar .bx-menu {
    font-size: 25px;
    color: #fff;
  }

  .nav-native .navbar .links {
    display: block;
    margin-top: 20px;
  }

  .nav-native .navbar .links li .arrow {
    line-height: 40px;
  }

  .nav-native .navbar .links li {
    display: block;
  }

  .nav-native .navbar .links li .sub-menu {
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }

  .nav-native .navbar .links li .sub-menu li {
    border-bottom: none;
  }

  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
    position: relative;
    left: 0;
  }

  .navbar .links li .sub-menu .more-sub-menu li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
    transform: rotate(0deg);
  }

  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
  }

  .navbar .links li .sub-menu .more span {
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu {
    display: none;
  }

  .nav-native .navbar .links li:hover .htmlCss-sub-menu,
.nav-native .navbar .links li:hover .js-sub-menu {
    display: none;
  }

  .navbar .nav-links.show1 .links .htmlCss-sub-menu,
.navbar .nav-links.show3 .links .js-sub-menu,
.navbar .nav-links.show2 .links .more .more-sub-menu {
    display: block;
  }

  .navbar .nav-links.show1 .links .htmlcss-arrow,
.navbar .nav-links.show3 .links .js-arrow {
    transform: rotate(180deg);
  }

  .navbar .nav-links.show2 .links .more-arrow {
    transform: rotate(90deg);
  }
}
@media (max-width: 370px) {
  .nav-native .navbar .nav-links {
    max-width: 100%;
  }
}
* {
  padding: 0;
  margin: 0;
}

/* The footer is fixed to the bottom of the page */
footer {
  position: fixed;
  bottom: 0;
}

@media (max-height: 800px) {
  footer {
    position: static;
  }

  header {
    padding-top: 40px;
  }
}
.footer-distributed {
  background-color: #0b3787;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-left {
  width: 30%;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Cookie", cursive;
  margin: 0;
}

/* The company logo */
.footer-distributed .footer-left img {
  width: 30%;
}

.footer-distributed h3 span {
  color: #e0ac1c;
}

/* Footer links */
.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */
.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #ffffff;
  color: #0b3787;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #e0ac1c;
  text-decoration: none;
}

/* Footer Right */
.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 2px;
  font-size: 20px;
  color: #0b3787;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */
@media (max-width: 880px) {
  .footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
.container-page-acceuil {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 600px;
  background-color: #F5F7FF;
}
.container-page-acceuil h2 {
  color: #0b3787;
}

.table-responsive {
  margin: 30px 0;
}

.container-xl {
  padding: 0;
}

.table-wrapper {
  background: #fff;
  padding: 20px 25px;
  border-radius: 3px;
  min-width: 1000px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.table-title {
  padding-bottom: 15px;
  background: #435d7d;
  color: #fff;
  padding: 16px 30px;
  min-width: 100%;
  margin: -20px -25px 10px;
  border-radius: 3px 3px 0 0;
}

.table-title h2 {
  margin: 5px 0 0;
  font-size: 24px;
}

.table-title .btn-group {
  float: right;
}

.table-title .btn {
  color: #fff;
  float: right;
  font-size: 13px;
  border: none;
  min-width: 50px;
  border-radius: 2px;
  border: none;
  outline: none !important;
  margin-left: 10px;
}

.table-title .btn i {
  float: left;
  font-size: 21px;
  margin-right: 5px;
}

.table-title .btn span {
  float: left;
  margin-top: 2px;
}

table.table tr th, table.table tr td {
  border-color: #e9e9e9;
  padding: 12px 15px;
  vertical-align: middle;
}

table.table tr th:first-child {
  width: 60px;
}

table.table tr th:last-child {
  width: 100px;
}

table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fcfcfc;
}

table.table-striped.table-hover tbody tr:hover {
  background: #f5f5f5;
}

table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}

table.table td:last-child i {
  opacity: 0.9;
  font-size: 22px;
  margin: 0 5px;
}

table.table td a {
  font-weight: bold;
  color: #566787;
  display: inline-block;
  text-decoration: none;
  outline: none !important;
}

table.table td a:hover {
  color: #2196F3;
}

table.table td a.edit {
  color: #FFC107;
}

table.table td a.delete {
  color: #F44336;
}

table.table td i {
  font-size: 19px;
}

table.table .avatar {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}

.table-admin-centre {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 30px;
}

.container-form-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 30px;
  margin: 40px;
  width: 400px;
}
.container-form-dashboard h4 {
  color: #010101;
  margin-bottom: 1.2rem;
  text-transform: capitalize;
  font-size: 1.125rem;
  font-weight: 600;
}
.container-form-dashboard .input-login {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  width: 100%;
}
.container-form-dashboard .input-login input {
  height: 50px;
  padding: 10px 10px 10px 20px;
  box-sizing: border-box;
  border: 1.5px solid #ced4da;
  height: 60px;
  width: 100%;
}
.container-form-dashboard .input-login input:focus {
  border-color: #0b3787;
}
.container-form-dashboard .input-login label {
  margin-bottom: 10px;
}
.container-form-dashboard .input-login span {
  color: #ec2323;
}
.container-form-dashboard select {
  padding: 10px 10px 10px 20px;
  box-sizing: border-box;
  border: 1.5px solid #ced4da;
  height: 60px;
  width: 100%;
}
.container-form-dashboard select:focus {
  border-color: #0b3787;
}
.container-form-dashboard button {
  height: 50px;
  padding: 10px;
  font-size: 18px;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  color: #fff;
  background-color: #0b3787;
  padding: 15px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: 1000ms ease;
}
.container-form-dashboard button:hover {
  color: #0b3787;
  background-color: #fff;
  border: 2px solid #0b3787;
}

/*# sourceMappingURL=main.css.map */
